@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

:root {
	--main-color: #811141;
	--text-color: #202020;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overscroll-behavior: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
	border: none;
}
.btn {
	background: #811141;
	color: white;
	padding: 16px 32px;
	border-radius: 8px;
	flex: row;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	text-align: center;


}
